<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>627536846955-tsh00q5lrcj8i1ot30qg34p8ttkj00pu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.627536846955-tsh00q5lrcj8i1ot30qg34p8ttkj00pu</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ6nNS0qeb9bVvt4IxLLnVWW6zib2i1kY</string>
	<key>GCM_SENDER_ID</key>
	<string>627536846955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>omurbekov.myCofeHomeApp</string>
	<key>PROJECT_ID</key>
	<string>mycofeehomeapp</string>
	<key>STORAGE_BUCKET</key>
	<string>mycofeehomeapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:627536846955:ios:42a777511d8f3b06fb512e</string>
</dict>
</plist>